<% provide(:page_name, "Department") %>
<table>
<%= form_for(@department) do |f| %>

<tr><td>Name: <td><%= f.text_field :name %></td></tr>
<tr><td>description: <td><%= f.text_field :description %></td></tr>
<tr><td></td><td align="right"><%= f.submit("Save", :class=>"btn btn-medium btn-secondary")%></td></tr>

<% end %>
</table>